@import url('https://fonts.googleapis.com/css2?family=Alice&family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:opsz,wght@14..32,500&family=Montserrat:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Syne:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

:root{
--background-color:      #FFFFFF;
--surface-color:         #F5F5F5;
--skeleton-color:        #D9D9D9;
--shape-transparency:    #FFFFFF;

--text-color-primary:    #313131;
--text-color-secondary:  #6C6C6C;
}

body{
    height: 100vh;
    display: inline-block;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

header{
    border: 2px solid black ;
    display: flex;
    width: 100%;
    background:var(--skeleton-color);

    display: flex;
    justify-content: space-between;

}

.author{
    display: flex;
}

section{
    border: 2px solid black ;
    display: inline-block;

    background:var(--skeleton-color);
   
}

main{
    margin: 10px;
    width: 70rem;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.photos img{
   height: 260px;
   margin: 5px;
   border-radius: 10PX;

}

footer{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    color: var(--text-color-secondary);
  
}

#span-2{
    display: flex;
    gap: 30px;
   
}

a{
    text-decoration: none;
    color: var(--text-color-secondary);
}

footer {
    width: 83%;
    padding-bottom: 23px;
 
   &:hover{
    color: var(--text-color-primary);
   }
}

footer span{
    font-size: 1.125rem;
    font-weight: 700;
    
}

a{
   
    &:hover{
        color: var(--text-color-primary);
        text-decoration: underline;
    }
}